*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 320px;
    max-width: 800px;
    margin: 80px auto;

    font-family: arial;

    background-color: #4F4F4F;
    font-family: 'inter', 'sans-serif';
}
.container {
    width: 300px;
    height: 300px;
    
    margin-bottom: 10px;
    
}
.container img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.descricao{
    width: 300px;
}
.descricao h2{
    margin-bottom: 5px;
}
.duracao{
    width: 300px;
    margin-top: 25px;
}
.barra{
    width: 300px;
    height: 6px;
    border: 1px solid #eee;
    initial-value: 0;
}

progress{
    height: 6px;
    width: 0%;
    background-color: #333;
}
.bolinha{
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: -10px;
}
.tempo{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 15px;
}
.player{
    margin-top: 50px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.botao-play, .botao-pause{
    font-size: 50px;
    margin-top: -10px;
    cursor: pointer;
}
.setas{
    font-size: 35px;
    cursor: pointer;
}
.botao-pause{
    display: none;
}
/*Css do index*/
.painel-playlist{
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 400px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
}
.painel-playlist .playlist{
    flex: 0 0 100%;
    padding: 24px;
    scroll-snap-align: start;
}


.playlist{
    max-width: 400px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 25px;
    background-color: #363636	;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.playlist {
    display: flex;
    flex-direction: column;
}
.playlist {
    font-family: arial;
    color: black;
}
.container-2{
    width: 350px;
    height: 350px;
    margin: 0 auto;
}
.container-2 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.nome-playlist{
    margin: 15px auto;
    color: black;
}
.mandar-direita{
    display: flex;
    justify-content: flex-end;
}
.tempo-playlist{
    color: black;
    padding-left: 5px;
}
.tags{
    margin: 10px auto;
}
.tags ul {
    list-style: none;
    display: flex;
}
.tags ul  li {
    width: auto;
    margin-left: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
}
.tags ul li a{
    text-decoration: none;
    color: black;
}
.card-playlist{
    margin: auto;
}
.titulo-playlist{
    font-family: Arial;
    color: white;
}
.container-header{
    width: 300px;
    height: 50px;
    margin-right: 90px;
    margin-bottom: 20px;
}
.container-header img{
    width: 100%;
    height: 100%;
}

/*todasPlaylist*/
.playlist-coluna{
    display: flex;
    flex-direction: row;
}
.card-playlist-flex{
    background-color: #333;
    display: flex;
    flex-direction: row;
    height: 50px;
}
.container-playlist{
    height: 40px;
    margin-top: 5px;
    width: 280px;
}
.container-playlist img{
    height: 100%;
}

/*Botão*/
.button-1 {
  background-color: #4F4F4F;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin: 15px auto;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 250px;
}
.button-1:hover,
.button-1:focus {
  background-color: #4F4F4F;
}
.button-1 a {
    text-decoration: none;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    color: #FFFFFF;
}
/*Final botao*/
